---
apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: mas-devops-aibroker
spec:
  params:
    {{ lookup('template', task_src_dir ~ '/common/cli-params.yml.j2') | indent(4) }}

    # Pre-Release Support
    - name: artifactory_username
      default: ''
      type: string
      description: Required to use development MAS builds
    - name: artifactory_token
      default: ''
      type: string
      description: Required to use development MAS builds

    # Entitlement
    - name: ibm_entitlement_key
      type: string

    # MAS Details
    - name: mas_instance_id
      type: string
      description: Instance ID

    # Application - Operator
    - name: mas_aibroker_channel
      type: string
      description: Catalog channel for the application operator subscription

    # Application - Operand
    - name: mas_app_bindings_jdbc
      default: ""
      type: string
    - name: mas_app_plan
      type: string
      description: Application installation plan
      default: ""

    # Custom Label Support
    - name: custom_labels
      type: string
      description: Optional MAS custom labels, comma separated list of key=value pairs
      default: ""

    # WatsonX params
    - name: watsonxai_apikey      
      type: string
      description: 
      default: "This option is mandatory"
    - name: watsonxai_url
      type: string
      description: 
      default: "This option is mandatory"   
    - name: watsonxai_project_id
      type: string
      description: 
      default: "This option is mandatory"
    - name: watsonx_action
      type: string
      description: 
      default: "This option is mandatory"

    # AI Broker storage 
    - name: storage_host
      type: string
      description: 
      default: "This option is mandatory"
    - name: storage_accesskey
      type: string
      description: 
      default: "This option is mandatory"
    - name: storage_secretkey
      type: string
      description: 
      default: "This option is mandatory"
    - name: s3_action
      type: string
      description: 
      default: "This option is mandatory"
    - name: apikey_action
      type: string
      description: 
      default: "This option is mandatory"
    
    # AI Broker application domain 
    - name: app_domain
      type: string
      description: 
      default: "This option is mandatory"



  stepTemplate:
    env:
      {{ lookup('template', task_src_dir ~ '/common/cli-env.yml.j2') | indent(6) }}

      # Pre-Release Support
      - name: ARTIFACTORY_USERNAME
        value: $(params.artifactory_username)
      - name: ARTIFACTORY_TOKEN
        value: $(params.artifactory_token)

      # Entitlement
      - name: IBM_ENTITLEMENT_KEY
        value: $(params.ibm_entitlement_key)

      # MAS Details
      - name: MAS_INSTANCE_ID
        value: $(params.mas_instance_id)

      # Application - Operator
      - name: MAS_AIBROKER_CHANNEL
        value: $(params.mas_aibroker_channel)

      # Custom Label Support
      - name: CUSTOM_LABELS
        value: $(params.custom_labels)
      
      # WatsonX api key
      - name: WATSONXAI_APIKEY
        value: $(params.watsonxai_apikey)

      # WatsonX url
      - name: WATSONXAI_URL
        value: $(params.watsonxai_url)
      
      # WatsonX project id
      - name: WATSONXAI_PROJECT_ID
        value: $(params.watsonxai_project_id)
      
      # WatsonX action
      - name: WATSONX_ACTION
        value: $(params.watsonx_action)
      
      # Storage host
      - name: STORAGE_HOST
        value: $(params.storage_host)
      
      # Storage access key
      - name: STORAGE_ACCESSKEY
        value: $(params.storage_accesskey)
      
      # Storage secret key 
      - name: STORAGE_SECRETKEY
        value: $(params.storage_secretkey)
      
      # S3 action
      - name: S3_ACTION
        value: $(params.s3_action)
      
      # application domain
      - name: APP_DOMAIN
        value: $(params.app_domain)
      
      # AI Broker api key action
      - name: APIKEY_ACTION
        value: $(params.apikey_action)

  steps:
    - name: aibroker
      command:
        - /opt/app-root/src/run-role.sh
        - aibroker
      image: quay.io/ibmmas/cli:latest
      imagePullPolicy: $(params.image_pull_policy)
